<html>
<head>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/javascripts/jquery.cookie.js"></script>
    <script src="/javascripts/index.js"></script>
</head>
<body>
    <form name="input" id="submitOrder">
        <h1>Order</h1>
        <p>Pizza size</p>
        <div id="size"></div>
        <p>Pizza crust</p>
        <div id="crust"></div>
        <p>Pizza toppings</p>
        <select id="topping" onchange="append()">
            <option value="default">Select topping</option>
        </select>
        <div id="topping_data"></div>
        <div id="topping_added"></div>
        <p>Quantity</p>
        <input type="number" name="quantity" value="1" min="1">
        <br><br>
        First name: <input type="text" name="firstname" placeholder="John" ><br/>
        Last name: <input type="text" name="lastname" placeholder="Smith" ><br/>
        Address: <br><input type="text" name="address" placeholder="1234 Street City, ST Zip" >
        <p>Comments:</br></p>
        <textarea name="comment" ></textarea>
        <p></p>
        <input type="button" id="submit" value="Submit" onclick="ready()">
    </form>
</body>
</html>